page-index
  //- ヘッダー
  div.sticky.t0.l0.f.fh.h10per.z1.bg-white
    module-header.w-full(title='TOP')
  div.h90per.w-full.relative.px10
    //- ヒーロー画像
    div.h-full
      img.h-full.object-fit-cover(src="/static/images/top/hero/top_hero1.jpg")
      div.absolute.l0.b0.w-full.f.fh.flex-column
        div.fs20.rotate90.text-white.py20 scroll
        div.material-icons.fs40.rotate90.text-white chevron_right
    //- リンク
    div.f.fh.flex-column.h-full
      div.h-full.overflow-scroll(ref='body')
        div.container.p30
          a.contents.f.flex-column.fh.py10(each='{item in contents}', href='{item.link}')
            div.fs18 {item.title}
      
          //- div.m16(data-is='item-chat', each='{item in sclazy.items}', item='{item}')
          //- div.text-center.my16(if='{sclazy.isMore()}') loading...
    //- module-tabbar

  script.
    //- this.fetch = async ({app, modules}) => {
    //-   console.log('fetch');
    //-   if (this.posts) return {};
    //-   var posts = await modules.app.ref.child('posts').get();
    //-   return {
    //-     posts: posts.splice(0, 10),
    //-   };
    //- };
    this.contents = [
      {
        title: 'GAMES',
        link: '/games',
        image: '',
      },
      {
        title: 'TOOLS',
        link: '/tools',
        image: '',
      },
      {
        title: 'hoge',
        link: '#',
        image: '',
      },
      {
        title: 'hoge',
        link: '#',
        image: '',
      },
      {
        title: 'hoge',
        link: '#',
        image: '',
      },
    ];

    this.on('mount', async () => {
      this.sclazy = Sclazy({
        target: this.refs.body,
        onload: async () => {
          var limit = 16;
          var startAfter = null;

          if (this.sclazy.items.length) {
            //- 続きから取得するようにする
            startAfter = this.sclazy.items[this.sclazy.items.length - 1].doc;
          }
          var items = await app.store.groups.index({
            user_id: firebase.auth().getUid(),
            limit: limit,
            startAfter: startAfter,
          });

          this.sclazy.addItems(items);
          this.sclazy.next(items.length !== 0);
          this.update();
        },
        //- スクロールし終わった時
        onscrollend: () => {
          this.sclazy.load();
        },
      });
    });
    
    this.on('show', async () => {
      this.sclazy.reset().load();
      this.update();

      //- var base64 = await app.utils.imageToBase64(faker.image.image());
      //- firebase.storage().ref('hoge/foo').child('test').putString(image, 'base64', {contentType:'image/jpg'});
    });
