page-index
  div.flex.flex-column.h-full
    module-header
    div.h-full.overflow-scroll(ref='body')
      div.container
        div.posts
          div.m16(data-is='item-chat', each='{item in sclazy.items}', item='{item}')
          //- div.text-center.my16(if='{sclazy.isMore()}') loading...
    module-tabbar

  script.
    //- this.fetch = async ({app, modules}) => {
    //-   console.log('fetch');
    //-   if (this.posts) return {};
    //-   var posts = await modules.app.ref.child('posts').get();
    //-   return {
    //-     posts: posts.splice(0, 10),
    //-   };
    //- };

    this.on('mount', async () => {
      this.sclazy = Sclazy({
        target: this.refs.body,
        onload: async () => {
          var limit = 16;
          var startAfter = null;

          if (this.sclazy.items.length) {
            //- 続きから取得するようにする
            startAfter = this.sclazy.items[this.sclazy.items.length - 1].doc;
          }
          var items = await app.store.groups.index({
            user_id: firebase.auth().getUid(),
            limit: limit,
            startAfter: startAfter,
          });

          this.sclazy.addItems(items);
          this.sclazy.next(items.length !== 0);
          this.update();
        },
        //- スクロールし終わった時
        onscrollend: () => {
          this.sclazy.load();
        },
      });
    });
    
    this.on('show', async () => {
      this.sclazy.reset().load();
      this.update();

      //- var base64 = await app.utils.imageToBase64(faker.image.image());
      //- firebase.storage().ref('hoge/foo').child('test').putString(image, 'base64', {contentType:'image/jpg'});
    });
